<!-- News Area -->
<section class="news-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12">
              <div class="row">
                  <div class="col-md-12">
                      <div class="latest-news">
                          <div class="tab-box d-flex justify-content-between">
                              <div class="sec-title">
                                  <h5>TIN - VCCU</h5>
                              </div>
                              <!-- Nav tabs -->
                          </div>
                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div class="tab-pane fade show active" id="tech" role="tabpanel">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="lt-item-bg">
                                              <img src="assets/images/lt-bg-1.jpg" alt="" class="img-fluid">
                                              <h6><a href="">These sentences are selected from various online
                                                  news.</a></h6>
                                              <ul class="list-unstyled list-inline">
                                                  <li class="list-inline-item">Technology</li>
                                                  <li class="list-inline-item">February 11, 2019</li>
                                              </ul>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
                                                  labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident
                                                  animi magni voluptas fugit Itaque labore quae ad........</p>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="lt-item-sm d-flex">
                                              <div class="lt-img">
                                                  <a href=""><img src="assets/images/lt-sm-1.jpg" alt=""></a>
                                              </div>
                                              <div class="img-content">
                                                  <p><a href="">These sentences are selected from various online
                                                      news.</a></p>
                                                  <span>February 11, 2019</span>
                                              </div>
                                          </div>
                                          <div class="lt-item-sm d-flex">
                                              <div class="lt-img">
                                                  <a href=""><img src="assets/images/lt-sm-2.jpg" alt=""></a>
                                              </div>
                                              <div class="img-content">
                                                  <p><a href="">These sentences are selected from various online
                                                      news.</a></p>
                                                  <span>February 11, 2019</span>
                                              </div>
                                          </div>
                                          <div class="lt-item-sm d-flex">
                                              <div class="lt-img">
                                                  <a href=""><img src="assets/images/lt-sm-3.jpg" alt=""></a>
                                              </div>
                                              <div class="img-content">
                                                  <p><a href="">These sentences are selected from various online
                                                      news.</a></p>
                                                  <span>February 11, 2019</span>
                                              </div>
                                          </div>
                                          <div class="lt-item-sm d-flex">
                                              <div class="lt-img">
                                                  <a href=""><img src="assets/images/lt-sm-4.jpg" alt=""></a>
                                              </div>
                                              <div class="img-content">
                                                  <p><a href="">These sentences are selected from various online
                                                      news.</a></p>
                                                  <span>February 11, 2019</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="row">
                  <div class="col-md-12">
                      <div class="follow-widget">
                          <div class="sec-title">
                              <h5>MẠNG LƯỚI LIÊN MINH HTX</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="add-widget">
                          <img src="assets/images/add1.jpg" alt="" class="img-fluid">
                          <div class="add-layer text-center">
                              <p>Best Template For Your Online News</p>
                              <a href="">Buy Now</a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- End News Area -->
