<section class="menu-area">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="main-menu">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item"><a href="">TRANG CHỦ</a></li>
                      <li class="list-inline-item"><a>GIỚI THIỆU <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown list-unstyled">
                              <li><a routerLink="/about">About Us</a></li>
                          </ul>
                      </li>
                      <li class="list-inline-item mega-mnu"><a>TIN NỘI BỘ <i class="fa fa-angle-down"></i></a>
                          <ul class="mega-menu">
                              <li class="row">
                                  <div class="col-md-3">
                                      <div class="mega-cat">
                                          <div class="sec-title">
                                              <h5>Tin Tức Nội Bộ</h5>
                                          </div>
                                          <div class="cat-content">
                                              <ul class="list-unstyled">
                                                  <li><a routerLink="/internal_news">Tin tức nội bộ</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </li>
                      <li class="list-inline-item mega-mnu"><a>TIN TỨC <i class="fa fa-angle-down"></i></a>
                          <ul class="mega-menu">
                              <li class="row">
                                  <div class="col-md-3">
                                      <div class="mega-cat">
                                          <div class="sec-title">
                                              <h5>Tin Tức</h5>
                                          </div>
                                          <div class="cat-content">
                                              <ul class="list-unstyled">
                                                  <li><a routerLink="/news">Tin tức</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      <li class="list-inline-item"><a href="">VĂN BẢN</a></li>
                      <li class="list-inline-item"><a href="">ĐẠI DIỆN - BẢO VỆ THÀNH VIÊN</a></li>
                      <li class="list-inline-item"><a href="">LIÊN HỆ</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-3">
              <div class="clock text-right">
                  <span id="dg-clock"></span>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Menu Area -->
