<!-- International & Lifestyle -->
<section class="int-lif">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="row">
                  <div class="col-md-4">
                      <div class="int-news">
                          <div class="sec-title">
                              <h5>TIN - VCA</h5>
                          </div>
                          <div class="int-slider owl-carousel">
                              <div class="int-item">
                                  <div class="int-lg">
                                      <img src="assets/images/int-1.jpg" alt="" class="img-fluid">
                                      <div class="int-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">International</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-5.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-11.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-12.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="int-item">
                                  <div class="int-lg">
                                      <img src="assets/images/int-2.jpg" alt="" class="img-fluid">
                                      <div class="int-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">International</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-9.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-12.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="int-list d-flex">
                                      <div class="int-img">
                                          <a href=""><img src="assets/images/lt-sm-7.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="ls-news">
                          <div class="sec-title">
                              <h5>TIN - HỢP TÁC XÃ</h5>
                          </div>
                          <div class="int-slider owl-carousel">
                              <div class="ls-item">
                                  <div class="ls-lg">
                                      <img src="assets/images/ls-1.jpg" alt="" class="img-fluid">
                                      <div class="ls-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">Lifestyle</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-4.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-8.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-10.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="ls-item">
                                  <div class="ls-lg">
                                      <img src="assets/images/ls-2.jpg" alt="" class="img-fluid">
                                      <div class="ls-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">International</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-3.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-5.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-4.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="ls-news">
                          <div class="sec-title">
                              <h5>TIN - LIÊN MINH HTX</h5>
                          </div>
                          <div class="int-slider owl-carousel">
                              <div class="ls-item">
                                  <div class="ls-lg">
                                      <img src="assets/images/ls-1.jpg" alt="" class="img-fluid">
                                      <div class="ls-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">Lifestyle</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-4.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-8.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-10.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="ls-item">
                                  <div class="ls-lg">
                                      <img src="assets/images/ls-2.jpg" alt="" class="img-fluid">
                                      <div class="ls-layer">
                                          <p><a href="">It is usually composed of several sentences that together
                                              develop one.</a></p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">International</li>
                                              <li class="list-inline-item">February 11, 2019</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-3.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-5.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                                  <div class="ls-list d-flex">
                                      <div class="ls-img">
                                          <a href=""><img src="assets/images/lt-sm-4.jpg" alt=""></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news.</a></p>
                                          <span>February 11, 2019</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End International & Lifestyle -->
