<!-- Mobile Menu -->
<app-mobile-menu></app-mobile-menu>
<!-- End Mobile Menu -->

<!-- Web ticker -->
<app-web-ticker></app-web-ticker>
<!-- End Web Ticker-->

<!-- slider area -->
<app-slider-area></app-slider-area>
<!-- End slider area -->

<!-- News area-->
<app-new-area></app-new-area>
<!-- End news Area -->

<!-- Gallery -->
<app-gallery></app-gallery>
<!-- End Gallery -->

<!-- International and lifestyle -->
<app-international-and-life-style></app-international-and-life-style>
<!-- End International and lifestyle-->

<!-- News Area-->
<app-news-area></app-news-area>
<!-- End news Area -->

<!-- gallery VN -->
<app-gallery-vn></app-gallery-vn>
<!-- End gallery VN-->

<!-- more news area -->
<app-more-news-area></app-more-news-area>
<!-- End more news area -->

<!-- International and lifestyle two-->
<app-international-and-life-style-two></app-international-and-life-style-two>
<!-- End Int0rnational and lifestyle two-->
