<div class="col-md-12">
  <div class="category-box2 d-flex">
      <div class="cat-img">
          <a href="#"><img style="width : 260px ; height:169px" src="{{ NewInformation.thumbnail.url }}" alt="{{ NewInformation.title }}"></a>
      </div>
      <div class="img-content">
          <h6><a href="">{{ NewInformation.title }}</a></h6>
          <ul class="list-unstyled list-inline tag-dat">
              <li class="list-inline-item">{{ NewInformation.group_news.group_name }}</li>
              <li class="list-inline-item"> {{ NewInformation.date_publish }}</li>
          </ul>
          <p>{{ NewInformation.descriptions }}</p>
          <ul class="list-unstyled list-inline red-com">
              <li class="list-inline-item"><a href="#"> Đọc tiêp <i class="fa fa-angle-right"></i></a></li>
          </ul>
      </div>
  </div>
</div>
