<!-- News Area 2 -->
<section class="news-area2">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-12">
              <div class="pop-news">
                  <div class="sec-title">
                      <h5>KINH TẾ</h5>
                  </div>
                  <div class="owl-carousel popular-slider">
                      <div class="popular-item">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-1.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-2.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-3.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-4.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-5.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-6.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="popular-item">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-7.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-8.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-9.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-10.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-11.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="pop-box">
                                      <div class="pop-img">
                                          <a href=""><img src="assets/images/popular-12.jpg" alt="" class="img-fluid"></a>
                                      </div>
                                      <div class="img-content">
                                          <p><a href="">These sentences are selected from various online news....</a>
                                          </p>
                                          <ul class="list-unstyled list-inline">
                                              <li class="list-inline-item">FOOD</li>
                                              <li class="list-inline-item">September 24, 2017</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="row">
                  <div class="col-md-12">
                      <div class="add-widget">
                          <img src="assets/images/add1.jpg" alt="" class="img-fluid">
                          <div class="add-layer text-center">
                              <p>Best Template For Your Online News</p>
                              <a href="">Buy Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End News Area 2 -->
